<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Log\internal-nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets  async="true">
    <target xsi:type="Console" name="console"
            layout="${longdate} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="ownLog-file" fileName="D:\Log\Nlog4\${level}\${shortdate}.log" keepFileOpen="false" encoding="utf-8" concurrentWrites="true">
      <layout xsi:type="JsonLayout">
        <!--项目名-->
        <attribute name="project" layout="Nlog4"/>
        <!--日志日期-->
        <attribute name="nlogdate" layout="${longdate}" />
        <!--节点名-->
        <attribute name="node_name" layout="${nodeName}" />
        <!--日志等级-->
        <attribute name="level" layout="${uppercase:${level}}"/>
        <!--内容主体，可为字符串，推荐为json,报错的时候为字符串即可 -->
        <attribute name="message" layout="${message:format=message}" encode="false" escapeUnicode="false"/>
        <!--日志排序-->
        <attribute name="counter" layout="${counter}" />
        <!--调用方法-->
        <attribute name="callsite" layout="${callsite}" />
        <!--调用行数-->
        <attribute name="callsite_linenumber" layout="${callsite-linenumber}" />
        <!--请求方法，api需定义-->
        <attribute name="request_method" layout="${aspnet-request-method}" />
        <!--控制器，api需定义-->
        <attribute name="controller" layout="${aspnet-mvc-controller}" />
        <!-- Url，api需定义-->
        <attribute name="url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <!--错误日志-->
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

  </targets>



  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="ownLog-file" />

    <logger name="*"  writeTo="console"/>
  </rules>
</nlog>
